.body__title {
  font-family: Arial;
}
.main-menu__item {
  font-family: Helvetica;
}
.section__title {
  font-family: Helvetica;
}
.section__description {
  font-family: Arial;
}
.article {
  font-family: Arial;
}
